@font-face {
    font-family: 'DSDIGT';
    src: url('digital-7.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YUWEI';
    src: url('yuwei.ttf');
    font-weight: normal;
    font-style: normal;
}